:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

#root {
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

select {
  padding: 0.5rem;
}

button {
  border-radius: 4px;
  border: 2px solid ivory;
  background: #222;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: hsl(0, 0%, 77%);
}
button:focus,
button:focus-visible {
  outline: 4px auto inherit;
  outline-offset: 4px;
  z-index: 99;
}

button svg {
  fill: ivory;
}

.track {
  font-size: 1.25rem;
  border: 8px solid;
  border-top: 64px solid;
  border-bottom: 64px solid;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.125rem;
}

.flex {
  display: flex;
}

.flex-y {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
